body {
    /* font: 400 15px Lato, sans-serif; */
    /* font-family: 'Abel', sans-serif; */
    font-family: 'Playfair Display SC', serif;
    line-height: 1.8;
    color: #818181;
}

hr {
  margin-top: 0em;
  margin-bottom: 0em;
}

.navbar {
    background-color: transparent;
    z-index: 9999;
    border: 0;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: 'Playfair Display SC', serif;
    /* font-family: 'Abel', sans-serif; */
}

.navbar li a, .navbar .navbar-brand {
    color: #ffffff !important;
}

.container{
    padding: 0px;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #ffffff !important;
    background-color: #000000 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #000000 !important;
}

.jumbotron {
    background-color: transparent; /* Orange */
    color: #ffffff;
    padding: 100px 25px;
    font-family: 'Playfair Display SC', serif;
}

.list-item {
  color: #000000;
  font-family: 'Playfair Display SC', serif;
}

.icon{
  height:30px;
  width: 30px;

}

.head-img{
  width: 10%;
  height: 10%;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}


#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover;
}

.person {
    border: 5px solid;
    border-color: #ffffff;
    margin-bottom: 25px;
    width: 9%;
    height: 9%;
    opacity: 0.8;
}
